<ion-view view-title='Quiz Era'>
    <ion-content class="has-header style4">
        <div style="width:150px; margin:auto ;align-content:center;-webkit-align-content: center;">
            <img src={{launch.img}} alt="Logo" style=" height:95px;width:200px;margin-top:25px;margin-right:35px" />
        </div>
        <div class="card">

            <div class="item item-divide">
                <h3 class="title">Game Info</h3>
            </div>
            <div class="item item-text-wrap">
                <h4 class="title"> {{launch.name}}</h4>
            </div>
        </div>
        <button class="button button-block button-balanced" style="margin-top:5px" ng-click="launch.click()">START !!</button>
    </ion-content>
</ion-view>