<div ng-controller="gameHomeCtrl as gameHome">
 <ion-pane>
          <div class="bar bar-header bar-dark">
              <button class="button button-icon icon ion-navicon"></button>
            <div class="h1 title">Quiz_Era</div>
               <button class="button button-clear button-icon icon ion-power"></button>
         </div>
        <ion-content class="has-header style1">
<div class="row responsive-sm">
  <div class="col">
    <button  class="button button-calm" style="height:100px;width:100px">topic</button>
  </div>
  <div class="col">
     <button  class="button button-calm" style="height:100px;width:100px">topic</button>
  </div>
  <div class="col">
     <button  class="button button-calm" style="height:100px;width:100px">topic</button>
  </div>
  <div class="col">
     <button  class="button button-calm" style="height:100px;width:100px">topic</button>
  </div>
</div>
</ion-content>
</ion-pane>
</div>