<ion-view view-title='Quiz Era'>
    <ion-content class="has-header style4">
        <div style="width:150px; margin:auto ;align-content:center;-webkit-align-content: center;">
            <img src="{{launch.gameLogo}}" alt="Logo" class="title" style=" height:100px;width:100%;margin-top:25px;border-radius:5px" />
        </div>
        <div class="card">

            <div class="item item-divide">
                <h3 class="title">Game Info</h3>
            </div>
            <div class="item item-text-wrap">
                <h4 class="title"> {{launch.name}}</h4>
            </div>
        </div>
        <button class="button button-block button-balanced" style="margin-top:5px" ng-click="launch.click()">START !!</button>
    </ion-content>
</ion-view>