<ion-view view-title='Quiz Era'>


    <ion-content class="has-header style4">
        <div class="row responsive-sm">
            <span ng-repeat=" genre in game.genre">
     <div class="card">
  <div class="item item-divider">
      <div align="center">
    <h2>{{genre.name}}</h2>
    </div>
  </div>
  <div class="item item-text-wrap">
  <img src={{genre.img}} alt="genre picture" style="width:250px" align="middle"></img>

  </div>
  <div class="item item-divider" align="center">
       <a class="button button-calm" style='margin:5px;border-radius:5px;width :100px ;height:30px; align-content:center' ng-click="game.click(genre.name,genre.img)">Play</a>
  </div>
</div>
</span>
        </div>
    </ion-content>

</ion-view>