<div ng-controller="quizCtrl as quiz">

    <ion-pane>
        <div class="bar bar-header bar-dark">
            <h1 class="title">Quiz_Era</h1>
        </div>

        <ion-content class="has-header style1">
            <div class="list">
                <label class="item item-input style1">
        <input type="text" placeholder="User Name" ng-model="quiz.signUpName">
      </label>
                <label class="item item-input style1">
       <input type="text" placeholder="Email" ng-model="quiz.signUpEmail">
      </label>
                <label class="item item-input style1">
        <input type="Password" placeholder="Password" ng-model="quiz.signUpPassword">
      </label>
            </div>
            <div padding>
                <button class="button button-positive button-block" full ng-click="quiz.signUp()">Signup</button>
            </div>
</div>
</ion-content>

</ion-pane>
</div>