
    <div ng-controller="todoCtrl as todo">
        <h1>{{todo.name}}<h1>
        <div class="row">
            <div class="col-xs-6">
                    <input type="text" class="form-control" ng-model="todo.task">
            </div>
            <div class="col-xs-6">
                <button ng-if="!todo.editMode" class="btn btn-success btn-block" ng-click="todo.task && todo.addTask()">Add Task</button>
                <button ng-if="todo.editMode" class="btn btn-info btn-block" ng-click="todo.task && todo.updateTask()">Update Task</button>

            </div>
        </div>
           
        <div class="row">
             <div class="col-xs-12">
              <ul class="list-group">
                 <li class="list-group-item" ng-class="{'list-group-item-danger':!task.status,'list-group-item-success':task.status}" ng-repeat="task in todo.tasks track by $index">
                     {{$index+1}}. {{task.title}}
                       <button class="btn" ng-class="{'btn-success':!task.status,'btn-primary':task.status}" n ng-click="todo.setStatus($index)">{{task.status ?'Undo':'Done'}}</button>

                     <button class="btn btn-danger" ng-click="todo.deleteTask($index)">Delete</button>
                     <button class="btn btn-warning" ng-click="todo.editTask($index)">Edit</button>

             </li> 

              </ul>

            </div>
        </div>
    </div> 